
{% extends "layouts/base1.html" %}

{% block title %} Login {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/assets/css/accounts.css">
    <style>
        label{
            /* display: none; */
            color: #ffffff00!important;
            margin-bottom: 0px!important;
        }
    </style>

{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 centered text-center">
                <div class="card card1">
                    <!-- <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <img src="/static/assets/img/loginlogo.png" alt="..." class="" style="height:100px;width:97px;">
                        </div>
                    </div> -->
                    <div class="m-auto img-box"><img class="login-logo" src="/static/assets/img/loginlogo.png" alt="semafore-logo"> <br><span>SemaFore</span></div>
                    {% if msg %}
                        <p style="color: #dc3545;font-size: 15px; margin-bottom: 0px;">
                            {{ msg | safe }}
                        </p>
                    {% endif %}
                    <form method="post" action="" id="login-form">

                        {% csrf_token %}

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 text-left">
                                    
                                    <div class="form-group">
                                        {{form}}
                                    </div>

                                    <!-- <div class="form-group">
                                        <div class="input-group">
                                            {{ form.password1 }}
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="submit-login" type="submit" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
        $( document ).ready(function() {
            if ($("#login-from").valid()){
                console.log("it is valid");
            }
        });
    </script>
{% endblock javascripts %}
