{% extends "layouts/base-superA.html" %} {% block title %} Dashboard {% endblock title %} {% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/bil.css">
{% endblock stylesheets %} {% block content %}

<div class="container">
    <div class="container-fluid pb-5">
        <div class="row mt-2">
            <div class="col-md-12" style="text-align: center;">
            </div>
        </div>
    </div>
    <div class="page-inner mt--5" >
        <div class="row row-card-no-pd">
            <div class="col-md-12">
                <div class="row row-card-no-pd">
                    <div class="col-md-12 v-btn">
                        <button class="btn btn-danger mr-2"> Reject Request</button><button class="btn btn-success"> Accept Request</button>
                    </div>
                </div>
                <div class="row card-view mt-5">
                    <div class="col-md-4 ">
                        <div class="card p-4">
                            <h4>Campaign Title</h4>
                            <p>Save the students masjid from closing </p>
                            <h4>Masjid Name</h4>
                            <p>Badshahi Masjid</p>
                            <h4>Starting Date</h4>
                            <p>19/Jan/1991</p>
                            <h4>Ending date</h4>
                            <p>19/Jan/1991</p>
                            <h4>Details</h4>
                            <p>The City of New Orleans requires that the building be brought to 2019 building codes In order for the masjid to remain open. The student community of this masjid is asking for aid in bringing the building up to code. The updates involve urgent repair of the prayer, wudhu and study areas. Masjid Ar-Rahma is the only masjid dedicated for students. </p>
                            <h4>Target Amount</h4>
                            <p>40.000 Rupees</p>
                            <h4>Collected Amount</h4>
                            <p>40.000 Rupees</p>
                            <h4>Extension Reason</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eon facilisis dignissim.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h2 class="title-h2">Videos</h2>
                        <div class="row card-videos">
                            <div class="col-md-4">
                                <div class="card">
                                    <video controls>
                                        <source src="/static/assets/videos/video.webm" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <video controls>
                                        <source src="/static/assets/videos/video.webm" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <video controls>
                                        <source src="/static/assets/videos/video.webm" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="row card-videos">
                            <div class="col-md-4">
                                <div class="card">
                                    <video controls>
                                        <source src="/static/assets/videos/video.webm" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <video controls>
                                        <source src="/static/assets/videos/video.webm" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <video controls>
                                        <source src="/static/assets/videos/video.webm" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                        <h2 class="title-h2">Photos</h2>
                        <div class="row card-images">
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="/static/assets/img/Masjid.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="/static/assets/img/Masjid.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="/static/assets/img/Masjid.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="row card-images">
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="/static/assets/img/Masjid.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="/static/assets/img/Masjid.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="/static/assets/img/Masjid.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block javascripts %}
{% endblock javascripts %}